//PEN HEADER
header.header
  h1.header__title Multi Steps Form with animations
  .header__btns.btns
    a.header__btn.btn(href="https://github.com/nat-davydova/multisteps-form" title="Check on Github" target="_blank") Check on Github
    
//PEN CONTENT     
.content
  
  //content inner
  .content__inner
  
    //multisteps-form
    .multisteps-form
    
      //progress bar
      .row
      
        .col-12.col-md-10.col-lg-8.ml-auto.mr-auto.mb-4
        
          .multisteps-form__progress

            ul.multisteps-form__progress-list.list-inline

              li.multisteps-form__progress-item

                button.multisteps-form__progress-btn(type="button" title="User Info" data-step="1") User Info

              li.multisteps-form__progress-item

                button.multisteps-form__progress-btn(type="button" title="Address" data-step="2") Address

              li.multisteps-form__progress-item

                button.multisteps-form__progress-btn(type="button" title="Order Info" data-step="3") Order Info

              li.multisteps-form__progress-item

                button.multisteps-form__progress-btn(type="button" title="Comments" data-step="4") Comments
        
      
      //form panels
      .row
      
        .col-12.col-md-10.col-lg-6.m-auto
        
          form.multisteps-form__form
          
            //single form panel
            .multisteps-form__panel.shadow.p-4.rounded.bg-white
              
              h3.multisteps-form__title Your User Info
              
              .multisteps-form__content
              
                .form-row.mt-4
                
                  .col
                  
                    input.multisteps-form__input.form-control(type="text" placeholder="First Name")
                  
                  .col
                  
                    input.multisteps-form__input.form-control(type="text" placeholder="Last Name")
                    
                .form-row.mt-4
                
                  .col
                  
                    input.multisteps-form__input.form-control(type="text" placeholder="Login")
                  
                  .col
                  
                    input.multisteps-form__input.form-control(type="email" placeholder="Email")
                    
                .form-row.mt-4
                
                 .col
                  
                  input.multisteps-form__input.form-control(type="password" placeholder="Password")
                  
                 .col
                  
                  input.multisteps-form__input.form-control(type="password" placeholder="Repeat Password")
                  
                .button-row.d-flex.mt-4
                
                  button.btn.btn-primary.ml-auto(type="button" title="Next") Next
            
            //single form panel
            .multisteps-form__panel.shadow.p-4.rounded.bg-white.js-hidden
            
              h3.multisteps-form__title Your Address
              
              .multisteps-form__content
              
                .form-row.mt-4
                  
                  input.multisteps-form__input.form-control(type="text" placeholder="Address 1")
                  
                .form-row.mt-4
                  
                  input.multisteps-form__input.form-control(type="text" placeholder="Address 2")
                  
                .form-row.mt-4
                
                  .col-6
                    
                    input.multisteps-form__input.form-control(type="text" placeholder="City")
                    
                  .col-3
                    
                    select.multisteps-form__select.form-control
                      option(selected) State...
                      option ...
                      
                  .col-3
                  
                    input.multisteps-form__input.form-control(type="text" placeholder="Zip")
                    
                .button-row.d-flex.mt-4
                  
                  button.btn.btn-primary(type="button" title="Prev") Prev
                  button.btn.btn-primary.ml-auto(type="button" title="Next") Next
              
            //single form panel
            .multisteps-form__panel.shadow.p-4.rounded.bg-white.js-hidden
            
              h3.multisteps-form__title Your Order Info
              
              .multisteps-form__content
              
                .row
                  .col-6.mt-4
                
                    .card.shadow-sm
                      .card-body
                    
                        h5.card-title Item Title
                        p.card-text Small and nice item description
                        a.btn.btn-primary(href="#" title="Item Link") Item Link
                        
                  .col-6.mt-4
                
                    .card.shadow-sm
                      .card-body
                    
                        h5.card-title Item Title
                        p.card-text Small and nice item description
                        a.btn.btn-primary(href="#" title="Item Link") Item Link
                        
                  .col-6.mt-4
                
                    .card.shadow-sm
                      .card-body
                    
                        h5.card-title Item Title
                        p.card-text Small and nice item description
                        a.btn.btn-primary(href="#" title="Item Link") Item Link
                        
                  .col-6.mt-4
                
                    .card.shadow-sm
                      .card-body
                    
                        h5.card-title Item Title
                        p.card-text Small and nice item description
                        a.btn.btn-primary(href="#" title="Item Link") Item Link
                   
                .row
                  .button-row.d-flex.mt-4.col-12
                  
                    button.btn.btn-primary(type="button" title="Prev") Prev
                    button.btn.btn-primary.ml-auto(type="button" title="Next") Next
            
            //single form panel
            .multisteps-form__panel.shadow.p-4.rounded.bg-white.js-hidden
            
              h3.multisteps-form__title Additional Comments
              
              .multisteps-form__content
              
                .form-row.mt-4
                
                  textarea.form-control(placeholder="Additional Comments and Requirements")
                  
                .button-row.d-flex.mt-4
                
                  button.btn.btn-primary(type="button" title="Prev") Prev
                  button.btn.btn-success.ml-auto(type="button" title="Send") Send