//PEN HEADER
header.header
  h1.header__title Multi Steps Form with animations
  .header__btns.btns
    a.header__btn.btn(href="https://github.com/nat-davydova/multisteps-form" title="Check on Github" target="_blank") Check on Github
    
//PEN CONTENT     
.content
  
  //content inner
  .content__inner
  
    //multisteps-form
    .multisteps-form
    
      //progress bar
      .row
      
      //form panels
      .row