//PEN HEADER
header.header
  h1.header__title Multi Steps Form with animations
  .header__btns.btns
    a.header__btn.btn(href="https://github.com/nat-davydova/multisteps-form" title="Check on Github" target="_blank") Check on Github
    
//PEN CONTENT     
.content
  
  //content inner
  .content__inner
  
    //multisteps-form
    .multisteps-form
    
      //progress bar
      .row
      
        .col-12.col-md-8.col-lg-6.m-auto
        
          .multisteps-form__progress

            ul.multisteps-form__progress-list

              li.multisteps-form__progress-item

                button.multisteps-form__progress-btn(type="button" title="Step 1" data-step="1") Step 1

              li.multisteps-form__progress-item

                button.multisteps-form__progress-btn(type="button" title="Step 2" data-step="2") Step 2

              li.multisteps-form__progress-item

                button.multisteps-form__progress-btn(type="button" title="Step 3" data-step="3") Step 3

              li.multisteps-form__progress-item

                button.multisteps-form__progress-btn(type="button" title="Step 4" data-step="4") Step 4
        
      
      //form panels
      .row
      
        .col-12.col-md-8.col-lg-6.m-auto
        
          form.multisteps-form__form
          
            //single form panel
            .multisteps-form__panel
            
            //single form panel
            .multisteps-form__panel
            
            //single form panel
            .multisteps-form__panel
            
            //single form panel
            .multisteps-form__panel